<%= wicked_pdf_stylesheet_link_tag 'downloader' %>
<div class="some-div">
  <div class="some-other-div">
    <p>Some content</p>
  </div>
</div>

<%= link_to 'Download PDF', download_path, :target => '_blank' %>
