<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=”stylesheet” href=”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I” crossorigin=”anonymous”>    <script src="https://kit.fontawesome.com/6434955464.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="home.css">
    <title>CV</title>
</head>
<body cz-shortcut-listen="true">

        <nav>
            <ul>
                <li><a href="#home"><i class="fa-sharp fa-solid fa-house"></i></a></li>
                <li><a href="#about">À propos</a></li>
                <li><a href="#skills">Compétences</a></li>
                <li><a href="#experience">Parcours</a></li>
                <li><a href="#projects">Réalisations</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>

        <div id="mobile-nav">
            <div id="menu-buttons">
                <div id="hamburger">
                    <i class="fa-solid fa-bars"></i>
                </div>

                <div id="cross" class="animated fadeIn">
                    <i class="far fa-times"></i>
                </div>
            </div>
        </div>

        <div class="parallax-outer">
            <div class="parallax" id="home">
                <div class="outer-container" id="homepage">
                    <header>
                        Bonjour, je m'appelle Kevin et je suis
                        <h1>Développeur web full-stack</h1>
                    </header>

                    <div id="header-text">
                        Je suis à la recherche d'une alternance en gestion de projet IT / Developpement Full-Stack emploi à <strong>Antibes</strong> et alentours.
                    </div>

                    <div class="space-between">
                        <div class="item skill-box animated fadeInUp">
                            <i class="fas fa-code"></i>
                            front-end
                        </div>
                        <div class="item skill-box animated fadeInUp">
                            <i class="fas fa-database"></i>
                            back-end
                        </div>
                        <div class="item skill-box animated fadeInUp">
                            <i class="fas fa-mobile-alt"></i>
                            mobile
                        </div>
                        <div class="item skill-box animated fadeInUp">
                            <i class="fas fa-pencil-ruler"></i>
                            web-design
                        </div>
                        <div class="item skill-box animated fadeInUp">
                            <i class="fas fa-globe"></i>
                            anglais
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section id="about">
            <div class="outer-container">
                <div class="space-between">
                    <div class="item box1">
                        <div class="img-container">
                            <img src="https://res.cloudinary.com/dzlmvhbez/image/upload/v1672670927/Copie-de-IMG_1549_qxstxa.jpg" width="100%">

                        </div>
                        <p><b>Nom :</b> Kevin COUTELLIER<br>
                        <b>Age :</b> 31 ans<br>
                        <b>Ville actuelle :</b> Antibes (06)<br>
                        <b>Hobbies :</b> jeux-vidéo, cuisine, arts créatifs, web-design</p>
                    </div>

                    <div class="item box2">
                        <div class="img-container box3">

                        </div>

                        <h2>À propos de moi</h2>

                        <div class="about-list box3">
                            <b>Nom :</b> Kevin COUTELLIER<br>
                            <b>Age :</b> 31 ans<br>
                            <b>Ville actuelle :</b> Antibes (06)<br>
                            <b>Hobbies :</b> jeux-vidéo, cuisine, arts créatifs, web-design<p></p>
                        </div>

                        <p>Développeur web junior, je suis à la recherche d’une alternance. Après un Bootcamp Web-Développeur. Cette expérience m’a permis d’acquérir autonomie et confiance en moi, malgré le fait que je venais d'un autre secteur. J’ai ainsi pu étoffer mon panel de compétences.</p>
                        <p>Je profite aujourd’hui du temps dont je dispose pour continuer à apprendre de nouvelles technologies et notamment enrichir mes connaissances en développement avec JavaScript et Solidity.</p>
                        <p>Après avoir obtenu une licence en management Hôtellier et accumulé plus d'une dizaine d'années dans ce secteur, j’ai choisi de me reconvertir dans le métier de développeur web. Touche à tout, j'aime developper l'idée de devenir polyvalent, ce qui me permet d’aborder le développement front-end et back-end avec sérénité.</p>
                        <p>Autonome de nature, je peux travailler seul ou en groupe, étant également capable de m’adapter à un environnement que je ne connais pas. Je sais faire preuve de force de proposition lorsque l’on m’en donne la liberté, cherchant toujours à m’améliorer afin d’optimiser les projets pour une meilleure satisfaction client. L’optimisation du code fait partie de mes priorités.</p>
                    </div>
                </div>

                <div class="box" id="buttons-container">
                    <a href="#contact"><button class="item" id="cont">
                        Me contacter
                    </button></a>
                    <% <button class="item" id="cv" type="submit" onclick="window.open('public/CV_Alternance.pdf')">
                                  Télécharger mon CV
                              </button> %>
                              <button class="item" id="cv" type="submit">
                            <%= link_to 'Télécharger mon CV', download_path, :target => '_blank' %></button>
                </div>
            </div>
        </section>
        <section id="skills" class="grey">
            <div class="outer-container">
                <h2 class="section-title">Compétences</h2>
                <div class="under-title"></div>
                <div class="skill center fadeInRight animated hidden" id="back-end">
                    <div class="c-item icon back animated bounce"><i class="fas fa-database"></i></div>

                    <div class="c-item content">
                        <h4 class="back">Back-end</h4>

                        <div class="item desc">
                            Développement de sites web et applications, création et gestion de bases de données, programmation orientée objet et pattern MVC , mise en ligne.
                        </div>

                        <div class="space-between">
                            <div class="item el">
                                <div class="space-between">
                                    <div class="item names">
                                        PostgreSQL<br>
                                        MySQL<br>
                                        Ruby on rails<br>
                                        Heroku
                                    </div>
                                    <div class="item stars">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><br>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><br>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><br>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><br>
                                    </div>
                                </div>
                            </div>
                            <div class="item el">
                                <div class="space-between">
                                    <div class="item names">
                                        Client SSH<br>
                                        API REST<br>
                                        DNS
                                    </div>
                                    <div class="item stars">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><br>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><br>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="skill center fadeInLeft animated hidden" id="front-end">
                    <div class="c-item content">
                        <h4 class="front">Front-end</h4>

                        <div class="item desc">
                            Création et intégration de sites web et applications mobiles responsive, accessibles et répondant aux normes W3C.
                        </div>
                        <div class="space-between">
                            <div class="item el">
                                <div class="space-between">
                                    <div class="item names">
                                        HTML5<br>
                                        CSS3<br>
                                        JavaScript<br>
                                        jQuery<br>
                                        JSON<br>
                                        Ajax
                                    </div>
                                    <div class="item stars">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><br>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><br>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><br>
                                        <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><br>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><br>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="item el">
                                <div class="space-between">
                                    <div class="item names">
                                        Angular<br>
                                        ionic<br>
                                        Bootstrap<br>
                                        SASS<br>
                                        less
                                    </div>
                                    <div class="item stars">
                                        <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><br>
                                        <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><br>
                                        <i class="fas fa-star"></i></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><br>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><br>
                                        <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="c-item icon front"><i class="fas fa-code"></i></div>
                </div>
                <div class="skill center fadeInRight animated hidden" id="web-design">
                    <div class="c-item icon design"><i class="fas fa-pencil-ruler"></i></div>

                    <div class="c-item content">
                        <h4 class="design">Web design</h4>

                        <div class="item desc">
                            Création de maquettes, ainsi que de prototypes fonctionnels. Conception centrée utilisateur selon les règles d'UX lors de la création d'une interface utilisateur.
                        </div>

                        <div class="space-between">
                            <div class="item el">
                                <div class="space-between">
                                    <div class="item names">
                                        Trello<br>


                                    </div>
                                    <div class="item stars">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><br>


                                    </div>
                                </div>
                            </div>
                            <div class="item el">
                                <div class="space-between">
                                    <div class="item names">
                                        Maquettage<br>
                                        Prototypage
                                    </div>
                                    <div class="item stars">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><br>
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="skill center fadeInLeft animated hidden" id="environnement">
                    <div class="c-item content">
                        <h4 class="env">Environnement de travail</h4>

                        <div class="item desc end">
                            <i class="fas fa-desktop"></i> <b>Systèmes d'exploitation :</b> Windows 11<br>
                            <i class="fas fa-terminal"></i> <b>Workflow :</b> Git, Chrome, Postman, Slack<br>
                            <i class="fas fa-code"></i> <b>IDE :</b> Visual Studio Code, SublimeText<br>
                            <i class="fas fa-pen-alt"></i> <b>Autres compétences :</b> maîtrise de l'anglais, traduction anglais/français, rédaction<br>
                            <i class="fas fa-user-tie"></i> <b>Savoir-être :</b> capacité d'adaptation, travail en équipe, organisation, rigueur, force de proposition
                        </div>
                    </div>

                    <div class="c-item icon env"><i class="fas fa-mug-hot"></i></div>
                </div>

            </div>
        </section>

        <section id="experience">
            <div class="outer-container">
                <h2 class="section-title">Parcours</h2>
            <div id="timeline">

                <div class="event school fadeInUp animated hidden bounce" id="ten">
                        <div class="left">
                            <p><br> 2023</p>
                        </div>
                        <div class="right">
                            <div class="content">
                                <h3><i class="fas fa-graduation-cap"></i> Certification RNCP6 et RNCP7 </h3>
                                <div class="date"> SEPTEMBRE 2023  à SEPTEMBRE 2026</div>
                                <div class="place">Epitech, Nice (06)</div>
                                <ul>
                                    <li>Acquisition des bases en administration système et réseaux.</li>
                                    <li>Maîtrise de la programmation orientée objet.</li>
                                    <li>Maitrise de la programmation web.</li>
                                    <li>Apprentissage de la méthode projets</li>
                                    <li>Développement web / mobile / logiciel (Python - JAVA - PHP - JS)</li>
                                    <li>Introduction IA / UX Sécurité / DevOps / Transformation Digitale</li>
                                </ul>
                            </div>
                        </div>
                </div>
                <div class="event school fadeInUp animated hidden" id="nine">
                        <div class="left">
                            <p><br> 2022</p>
                        </div>
                        <div class="right">
                            <div class="content">
                                <h3><i class="fas fa-graduation-cap"></i> Certification : Développeur web Full-Stack (niv. 6)</h3>
                                <div class="date"> OCTOBRE 2022 à JANVIER 2022</div>
                                <div class="place">Le Wagon, Nice (06)</div>
                                <ul>
                                    <li>Utilisation des différents langages de programmation web </li>
                                    <li>Programmation back end en pattern MVC sur le framework Ruby on Rails</li>
                                    <li>Conception de schémas de DB et de requêtes SQL sur PostgreSQL avec ActiveRecord</li>
                                    <li>Mise en production d'un clone d'Air BnB en 5 jours</li>
                                    <li>Lead dev sur projet de groupe de fin d'étude: mise en production d'une web app pour la gestion de patrimoine</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                <div class="event school fadeInUp animated hidden" id="eight">
                        <div class="left">
                            <p><br> 2022</p>
                        </div>
                        <div class="right">
                            <div class="content">
                                <h3><i class="fas fa-graduation-cap"></i> Certification : Consultant Blockchain (RS5326)</h3>
                                <div class="date"> MAI 2022 à JUILLET 2022</div>
                                <div class="place">Alyra l'école Blockchain, en ligne</div>

                                <ul>
                                    <li>Définir les caractéristiques, avantages et limites des principales méthodologies agiles</li>
                                    <li>Modéliser le parcours d'expérience de ses cibles</li>
                                    <li>Réaliser une étude de marché</li>
                                    <li>Concevoir un dispositif de veille concurrentielle et sectorielle</li>
                                    <li>Définir et valider la proposition de valeur de son projet</li>
                                    <li>Construire le business model de son projet grâce au Business Model Canvas</li>
                                    <li>Prototyper une solution : conception, priorisation fonctionnelle, production, test</li>
                                    <li>Conduire un projet d'innovation au sein d'une organisation</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                <div class="event work fadeInUp animated hidden" id="seven">
                        <div class="left">
                            <p> 2020 <br>
                            à <br>
                            2021</p>
                        </div>
                        <div class="right">
                            <div class="content">

                                <h3><i class="fas fa-briefcase"></i>DIRECTEUR</h3>
                                <div class="date">
                                    JUILLET 2020 à SEPTEMBRE 2021
                                </div>
                                <div class="place">Bocado, Antibes (06)</div>


                                <ul>
                                  <li>Chargé de recrutement</li>
                                  <li>Formation des équipes aux standards de service et règles sanitaires (HACCP)</li>
                                  <li>Gestion et administration (Budget, Ressources humaines)</li>
                                  <li>Campagne marketing (Réseaux sociaux, agences de communication, canaux traditionnels)</li>
                                  <li>Gestion et paramétrage du système d'exploitation</li>
                                  <li>Gestion des stock</li>
                                  <li> Interaction avec les différents prestataires de services et fournisseurs</li>
                                  <li>Négociations tarifaires auprès des fournisseurs</li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="event work fadeInUp animated hidden" id="six">
                        <div class="left">
                            <p> 2018 <br>
                            à <br>
                            2019</p>
                        </div>
                        <div class="right">
                            <div class="content">

                                <h3><i class="fas fa-briefcase"></i>ASSISTANT MANAGER</h3>
                                <div class="date">
                                    NOVEMBRE 2018 à NOVEMBRE 2019
                                </div>
                                <div class="place">Mercado, Sydney (AUSTRALIE)</div>
                                <ul>
                                  <li>Réunions journalières avec le staff de service</li>
                                  <li>Réunions hebdomadaires avec les chefs de secteurs</li>
                                  <li>Gestion et inventaire du stock</li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="event work fadeInUp animated hidden" id="five">
                        <div class="left">
                            <p>2016<br>
                            à <br>
                            2018</p>
                        </div>
                        <div class="right">
                            <div class="content">
                                <h3><i class="fas fa-briefcase"></i> ASSISTANT MANAGER</h3>
                                <div class="date">MARS 2016 à SEPTEMBRE 2018</div>
                                <div class="place">Le Baroque, Genève (SUISSE)</div>

                                <ul>
                                    <li>Réunions journalières avec le staff de service</li>
                                    <li>Réunions hebdomadaires avec les chefs de secteurs</li>
                                    <li>Gestion et inventaire du stock</li>
                                    <li>Etablissement de la carte des vins</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="event work fadeInUp animated hidden" id="four">
                        <div class="left">
                            <p>2015 <br>
                            à <br>
                            2016</p>
                        </div>
                        <div class="right">
                            <div class="content">
                                <h3><i class="fas fa-briefcase"></i> ASSISTANT MANAGER </h3>
                                <div class="date">MARS 2015 à FEVRIER 2016</div>
                                <div class="place">Chefs de France, Orlando, Floride (USA)</div>

                                <ul>
                                    <li>Réunions journalières avec le staff de service</li>
                                    <li>Formations aux standards de service</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="event exp fadeInUp animated hidden" id="three">
                        <div class="left">
                            <p>2013</p>
                        </div>
                        <div class="right">
                            <div class="content">
                                <h3><i class="fas fa-briefcase"></i> STAGE ASSISTANT F&B DIRECTEUR</h3>
                                <div class="date">MARS 2013 à NOVEMBRE 2013</div>
                                <div class="place">Pacific City Club by Six Senses, Bangkok (THAÏLANDE)</div>

                                <ul>
                                    <li>Gestion des travaux en accord avec le GM et le directeur F&B</li>
                                    <li>Lien avec le siège social du groupe concernant les différentes guidelines</li>
                                    <li>Réunions journalières avec le staff de service</li>
                                    <li>Réunions hebdomadaires avec les chefs de secteurs</li>
                                    <li>Gestion et inventaire du stock</li>
                                    <li>Etablissement de la carte des vins</li>
                                    <li>Formations au service gastronomiques Européens et Chinois</li>
                                    <li>Formations Œnologie</li>
                                    <li>Etablissement des devis sous la tutelle du directeur F&B</li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="event school fadeInUp animated hidden" id="two">
                        <div class="left">
                            <p>2011 <br>
                            à <br>
                            2014</p>
                        </div>
                        <div class="right">
                            <div class="content">
                                <h3><i class="fas fa-graduation-cap"></i> Diplôme : BACHELOR MANAGER EN HÔTELLERIE INTERNATIONALE (niv. 6)</h3>
                                <div class="date"> NOVEMBRE 2011 à JUIN 2014</div>
                                <div class="place">Vatel, Nîmes(30) / Bangkok(Thaïlande) </div>

                                <ul>
                                    <li>Gestion Hôtellière</li>
                                    <li>Gérer des équipes</li>
                                    <li>Animer des réunions </li>
                                    <li>Piloter la gestion d’une entreprise</li>
                                    <li>Maîtrise de la langue anglaise à un niveau bilingue</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="event school fadeInUp animated hidden" id="one">
                        <div class="left">
                            <p><br> 2007</p>
                        </div>
                        <div class="right">
                            <div class="content">
                                <h3><i class="fas fa-graduation-cap"></i> Diplôme : BACCALAURÉAT ÉCONOMIQUE ET SOCIAL (niv. 4)</h3>
                                <div class="date"> 2007</div>
                                <div class="place">Lycée Mont-Saint-Jean, Antibes (06)</div>

                                <ul>
                                    <li>Spécialité langue anglaise</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <section id="projects" class="grey">
            <div class="outer-container">
                <h2 class="section-title">Réalisations en ligne</h2>

                <div class="space-between">

                    <div class="item project" id="cetolike">
                        <div class="image-box"></div>
                        <div class="overlay">
                            <div class="text">
                                <h4>My invest</h4>

                                <ul class="tags">
                                    <li>Ruby on Rails</li>
                                    <li>JavaScript</li>
                                    <li>PostgreSQL</li>
                                </ul>

                                <ul class="desc">
                                    <li>Analyse des besoins</li>
                                    <li>Création des prototypes et maquettes</li>
                                    <li>Mise en place du projet et développement en autonomie</li>
                                    <li>Utilisation d'API afin de traiter des données Onchain</li>
                                    <li>Gestion de la base de données, et mise en ligne</li>
                                </ul>

                                <a href="http://www.myinvest.shop/" target="_blank"><button>Voir le site <i class="fa-solid fa-angle-right"></i></button></a>
                            </div>
                        </div>
                    </div>



                    <div class="item project" id="iselection">
                        <div class="image-box"></div>
                        <div class="overlay">
                            <div class="text">
                                <h4>Coming soon</h4>

                                <ul class="tags">
                                    <li>Ruby on Rails</li>
                                    <li>JavaScript</li>
                                    <li>PostgreSQL</li>
                                    <li>Solidity</li>
                                    <li>OpenAI</li>
                                </ul>

                                <ul class="desc">
                                    <li>Coming soon</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="contact">
            <div class="outer-container">
                <h2 class="section-title">Contactez-moi !</h2>

                <div class="contact-subtitle">
                    Actuellement à la recherche d'un nouvel emploi, je suis intéressé par les postes de :<br>
                    <div class="jobs">
                        <b>Développeur full-stack • Développeur front-end • Développeur back-end • Product Owner</b>
                    </div>
                </div>

                  <div class="space-between">
                      <div class="item contact-box phone">
                          <i class="fa-solid fa-phone"></i>
                          <div class="text">+33 7 88 44 02 32</div>
                      </div>
                      <div class="item contact-box email">
                          <i class="fa-regular fa-envelope"></i>
                          <div class="text"><h6>kev.coutellier@gmail.com</h6></div>
                      </div>
                      <div class="item contact-box meet">
                          <div class="text">Vous souhaitez<br> me rencontrer ?</div>
                          <p>Je suis disponible à<br> <b>Antibes</b> et ses alentours</p>
                      </div>
                  </div>

              </div>
          </section>

        <footer>
            <a href="https://www.linkedin.com/in/kevin-coutellier-1b900b7b/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/kevcoutellier" target="_blank"><i class="fa-brands fa-github"></i></a>

          
            <br>
            Kevin COUTELLIER © 2023
            <br>
            Tous droits réservés
        </footer>



<script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
<script>

var json = {
"fadeInLeft" : [
$('#front-end'),
$('#environnement')
],
"fadeInRight" : [
$('#back-end'),
$('#web-design')
],
"fadeInUp" : [
$('#one'),
$('#two'),
$('#three'),
$('#four'),
$('#five'),
$('#six'),
$('#seven'),
$('#eight'),
$('#nine'),
$('#ten'),

]
};

function checkVisible( $elem ) {
var docViewTop = $(window).scrollTop();
var docViewBottom = docViewTop + $(window).height();

var elemTop = $elem.offset().top;
var elemHalfHeight = $elem.height()/2;
var elemBottom = elemTop + elemHalfHeight;
return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
}

$(window).scroll(function() {
for( let key in json ) {
let elements = json[key];
for( let $el of elements ) {
    if( checkVisible( $el ) ) {
        $el.addClass( key + ' animated' );
        $el.removeClass("hidden");
    }
}
};
});

$(".c-item.icon").hover( function() {
$(this).addClass("animated bounce");
}, function() {
$(this).removeClass("animated bounce");
}
);

$('#menu-buttons').click( function() {
if ($('#menu').is(":visible")) {
$('#hamburger').show();
$('#menu, #cross').hide();
} else {
$('#hamburger').hide();
$('#menu, #cross').show();
}
});

$('#mobile-nav a').click( function() {
$('#menu, #cross').hide();
$('#hamburger').show();
});
</script>
<link rel="stylesheet" type="text/css" href="chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/css/blur.css" class="loom-blur-styles"></body>
</body>
</html>
